.page {
	width: 100%;
	height: 100vh;
	text-align: center;
	box-sizing: border-box;
}
.page .image-container {
	height:100%;
	width: 100%;
	position: relative;
}
.page.single{
	border:none;
	display:table;
}
.page.single .image-container{
	display:table-cell;
	vertical-align: middle;
}
.image-container img {
	width: auto;
	max-width: 100%;
	display:block;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	height:auto;
	max-height:100%;
}
.page.single .image-container img{
	height:auto;
	max-height: none;
	position: static;
	display: inline-block;
	transform:none;
}
.prev,
.next {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background:#fff;
	opacity:0.3;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	position:fixed;
	text-align: center;
	font-size:27px;
	box-shadow:0 3px 15px rgba(0,0,0,0.2);
	cursor:pointer;
}
.prev:hover,.next:hover{
	opacity:1;
	background:#f8f8f8;
	transform:translate(-50%,-50%) scale(1.2);
}
.prev.disabled,.next.disabled{
	display:none;
}
.prev{
	left:5%;
}
.next{
	left:95%;
}
.prev.mobile,.next.mobile{
	display:none;
}
.util{
	width:45px;
	height:45px;
	border:3px solid #000;
	background:#fff;
	border-radius:50%;
	position:fixed;
	top:87.5%;
	left:87.5%;
	line-height:45px;
	text-align:center;
	font-size:10px;
	cursor: default;
	opacity: 0.3;
	box-shadow: 0 3px 25px rgba(0,0,0,0.5);
}
.util:hover{
	opacity:1;
}